/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/
body {
    font-family: "Nerko One", Arial, Helvetica, sans-serif;
    background-color: #add8e6;
}

img {
    width: 100%;    
    display: none;
}

.container {    
    width: 65%;
    margin: auto;       
}

/*Header*/

header > h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}

/*Main*/

.row{            
    text-align: center;
}

.card{
    width: 20%;
    height: 200px;
    margin: 10px;
    
    display: inline-block;
    overflow: hidden;
    background-image: url('../img/pattern.png');
    background-color: white ;
    background-size: contain;
    border: 3px outset white;
    border-radius: 10px;
    position: relative;  
}

.card img{
    display: none;
}

.card:hover,.card.face-up {
    background-image: none;
    
}

.card:hover img, .card.face-up img {
    display: block;
}

.card-text {
    color: #e67919;
    font-size: 25px;
    position: absolute;
    right: 0;    
    display: none; 
    width: 100%;   /*per centrare il testo della carta gli do 100% della linea e prende il margin auto del container */
    
}
.card:hover .card-text, .card.face-up .card-text {
    display: block;
}

/*Footer*/

footer > h2 {
    margin-top: 10px;
    color: black;
    text-align: center;
    font-size: 15px;
}

